<form class="well form-horizontal" ng-submit="addservice()"  >
    <fieldset>

      <!-- Form Name -->
      <legend><center><h2><b>Trade Worker Registration Form</b></h2></center></legend><br>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">service type</label>  
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
            <select class="form-control" ng-model="data.s_type" required>
            <option value="Smith">Smith</option>
            <option value="Plumber">Plumber</option>
            <option value="painter">painter</option>
            <option value="housekeeping">housekeeping</option>
            <option value="carpenter">carpenter</option>
             <option value="Electricity technician">Electricity technician</option>
            <option value="Other" >Other</option>
          </select>
          </div>
        </div>
      </div>
      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Place</label>  
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
           <select class="form-control" ng-model="data.s_loc" required>
            <option value="Amman">Amman</option>
            <option value="Aqaba">Aqaba</option>
            <option value="Zarqa">Zarqa</option>
            <option value="Irbid">Irbid</option>
            <option value="Tafila">Tafila</option>
             <option value="Karak">Karak</option>
             <option value="Maan">Maan</option>
            <option value="Other" >Other</option>
          </select>
          </div>
        </div>
      </div>

      <!-- Text input-->
     

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">Description</label>  
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-indent-left"></i></span>
            <input  ng-model="data.s_desc" placeholder="description" class="form-control"  type="text" required>
          </div>
        </div>
      </div>

      <!-- Text input-->

<div class="form-group">
        <label class="col-md-4 control-label">Image Url</label>  
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-indent-left"></i></span>
            <input  ng-model="data.s_img" placeholder="imageurl" class="form-control"  type="text" required>
          </div>
        </div>
      </div>
 <!--      imgurl -->
      <div class="form-group">
        <label class="col-md-4 control-label">E-Mail</label>  
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input ng-model="data.s_email" placeholder="E-Mail Address" class="form-control"  type="email" required>
          </div>
        </div>
      </div>


      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Contact No.</label>  
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
            <input ng-model="data.s_phone" placeholder="(962)" class="form-control" type="text" required>
          </div>
        </div>
      </div>

      <!-- Select Basic --> 

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">
          <button type="submit" class="btn btn-lg btn-primary btn-block" >SUBMIT <span class="glyphicon glyphicon-send"></span></button>
        </div>
      </div>

    </fieldset>
  </form>
</div>
</div>